<% layout('layouts/boilerplate') %>
<div class="row">
	<div class="col-6 offset-3">
		<div class="alert alert-danger" role="alert">
			<h4 class="alert-heading"><%=err.message%></h4>
			<p>
				I have exciting news... You found some place off the map. The page you wanted magically disappeared. Please back up and try a different
				approach.
			</p>
			<hr />
			<p class="mb-0">If anything, you can go back to the very <a href="/">beginning</a>.</p>
		</div>
	</div>
</div>
